@media screen and (min-width: 1200px) {
    div#intro div#Name{
        height: 10vh;
        margin: 0px;
        position: relative;
        z-index: 100;
        display: inline-block;
        border-radius: 5vh;
        border: 3px solid rgba(255, 255, 255, 0.5);
        margin-bottom: 2vh;
        width: 78vw;
        transition: width 1s, height 1s;
    }

    div#intro div#Name:hover{
        height: 12vh;
        width: 80vw;
    }
    
    div#intro div#Languages {
        margin: 0px;
        margin-top: 0;
        height: 70vh;
        width: 38vw;
        position: relative;
        z-index: 100;
        display: inline-block;
        border-radius: 5vh;
        border: 3px solid rgba(255, 255, 255, 0.5);
        margin-right: 1vw;
        margin-bottom: 10vh;
        transition: width 1s, height 1s;
    }
    
    div#intro div#BackGround {
        margin: 0px;
        margin-top: 0;
        height: 70vh;
        width: 38vw;
        position: relative;
        z-index: 100;
        display: inline-block;
        border-radius: 5vh;
        border: 3px solid rgba(255, 255, 255, 0.5);
        margin-left: 1vw;
        margin-bottom: 10vh;
        transition: width 1s, height 1s;
    }
    
    div#intro div#BackGround:hover,div#intro div#Languages:hover{
        height: 74vh;
        width: 42vw;
    }

    div#intro.section {
        background-image: none;
        border: none;
    }
    
    div#intro h3,div#intro h4{
        margin-top: 3vh;
        margin-bottom: 1vh;
        font-size: 3vh;
    }
}
@media screen and (max-width: 1200px) {
    div#intro div#Name{
        height: 10vh;
        margin: 0px;
        position: relative;
        z-index: 100;
        display: inline-block;
        border-radius: 5vh;
        border: 3px solid rgba(255, 255, 255, 0.5);
        margin-bottom: 2vh;
    }
    
    div#intro div#Languages {
        margin: 0px;
        margin-top: 0;
        height: 70vh;
        width: 80vw;
        position: relative;
        z-index: 100;
        display: inline-block;
        border-radius: 5vh;
        border: 3px solid rgba(255, 255, 255, 0.5);
        margin-bottom: 2vh;
    }
    
    div#intro div#BackGround {
        margin: 0px;
        margin-top: 0;
        height: 70vh;
        width: 80vw;
        position: relative;
        z-index: 100;
        display: inline-block;
        border-radius: 5vh;
        border: 3px solid rgba(255, 255, 255, 0.5);
        margin-bottom: 2vh;
    }

    
    div#intro.section {
        background-image: none;
        border: none;
    }
    
    div#intro h3,div#intro h4{
        font-size: 3vh;
        margin-top: 3vh;
        margin-bottom: 1vh;
    }
}

div#intro p, div#intro h4 {
    display: table;
    margin: 0 auto;
    align-self: center;
}


div#intro p{
    font-size: 2vh;
    letter-spacing: 0.2vh;
    margin-top: 2vh; 
}